.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
  }
  .card{
    width: 45vw;
    border-radius: 25px;
    padding: 15px;
    min-height: 35vh;
  }
  .card-title{
    text-align: center;
    color: #001e8c;
    font-weight: bold;
  }
  .addTicketButton {
    width: 50%;
    margin-left: 25%;
    background: linear-gradient(to left, rgba(0, 30, 140, 1) 0%, rgba(43, 167, 218, 1) 100%);
    border: none;
    transition : 0.7s;
  
  }
  
  .addTicketButton:hover {
    background: linear-gradient(to right, rgba(0, 30, 140, 1) 0%, rgba(43, 167, 218, 1) 100%);
  }
  #creer{
    align-self: center;
  }

  .radio-form{
    border:solid 1px #d3d3d3;
    border-radius: 10px;
    padding: 7px;
  }
