.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.wlc{
    color: #F22980;
    font-weight: 500;
    font-family:  Verdana, Geneva, Tahoma, sans-serif
}
.logout-btn{
    text-align: right;
    background: -webkit-linear-gradient(#2BA7DA, #001e8c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logoutIcon{
    height: 40px;
    margin-right: 4px;
}


.logout-btn:hover{
    cursor: pointer;

}

